<%
if @parent
  ppath = @parent.full_path
  name = @parent.name
  dir = @parent
  unless @lines
    @lines = Array.new
    while (parent = dir.parent)
      @lines.unshift parent.directory_nodes(:user=>@user)[-1] == dir
      dir = parent
    end
  end
else
  @lines ||= [nil]
  ppath = ""
end

unless ppath == ""
  if @closed
    pm = "plus"
    style = "style='display:none'"
  else
    pm = "minus"
    style = ""
  end
  image = image_tag("tree/#{pm}.gif", :id => "dir_img#{ppath}", :class => 'tree', :border => 0, :align => "middle")
  klass = "tree"
  klass += " selected" if @selected_dir && @selected_dir.path==@path
%>
<div>
  <nobr>
    <span class="tree">
    <%= tree_lines(@lines) %>
    <%= link_to_function(image, "tree.dirChange('#{ppath}');") %>
    <%= link_to_function(h(name), "tree.dirSelected('#{ppath}')", :class => klass, :id => "dir_name#{ppath}") %><span class="tree">
  </nobr>
  <div class='dir' id='dir<%= ppath %>' <%=style%>>
<%
end

@opened_dirs &&= @opened_dirs.dup
@closed_dirs &&= @closed_dirs.dup
lines_org = @lines.dup
ndirs = @dirs.length
@dirs.each_with_index do |dir, i|
  path = dir.full_path
  if @opened_dirs && @opened_dirs.delete(path)
    @parent = dir
    @dirs = dir.directory_nodes(:user=>@user)
    @lines = lines_org + [i == ndirs-1]
    @closed = @closed_dirs && @closed_dirs.delete(path)
%>
    <%= render(:partial => "children") %>
<%
    @lines = lines_org
  else
    unless dir.parent
%>
      <%= path.sub(/@.*$/,"") %> 
<%
    end
    if dir.has_directory_nodes?(:user=>@user)
      hash = {:url => {:action => "children", :path => path},
        :loading => "progressText.start();",
        :complete => "progressText.stop();"
      }
      image_folder = link_to_remote(
                                    image_tag('tree/plus.gif', :id => "dir_img#{path}", :class => 'tree', :border => 0, :align => "middle"),
                                    hash)
      hash[:url][:selected] = true
      link = link_to_remote(h(dir.name), hash, :class => "tree", :id => "dir_name#{path}")
    else
      image_folder = image_tag('tree/folder_close.gif', :id => "dir_img#{path}", :class => 'tree', :border => 0, :align => "middle")
      
      link = link_to_function(h(dir.name), "tree.dirSelected('#{path}',true)",
			      :class => "tree", :id => "dir_name#{path}")
    end
%>
<% unless dir.name =~ /^[.]/ %>
    <div class='dir' id='dir<%= path %>'>
      <nobr><span class="tree">
        <%= tree_lines(@lines+[i==ndirs-1]) %>
        </span><%= image_folder %><span class="tree">
        </span><%= link %><span class="tree">
      </span></nobr>
    </div>
<% end %>
<%
  end
end

unless ppath == ""
%>
  </div>
</div>
<%
end
%>
